---
layout: about 
title: about
---

<!DOCTYPE html>
<html lang="en">
<head>
<title>jwspain.co</title>
<link rel="stylesheet" media="screen" href="{{ site.baseurl}}/css/master.css"/>
</head>
<body>
<div id="pagewrap">
  <div id="header">
    <header class="group">
      <div class="header-inner">
        <span class="logo"><a href="{{ site.baseurl}}/">jwspain.co</a></span>
        <span class="menu">
          <a href="{{ site.baseurl}}/">Home</a>&nbsp | &nbsp
          <a href="{{ site.baseurl}}/post.html">Post</a>&nbsp | &nbsp
          <a href="https://github.com/juzten">Code  </a>&nbsp | &nbsp
          <a href="{{ site.baseurl}}/about.html">About  </a>
        </span>
      </div>
    </header>
  </div>


  <div class="container2 myclass">
    <div id="content" class="left myclass">
      <h1>1</h1>
       <section id="main" class="group">
  	  {{ content }} 
  	  </section>
    </div>

    <div class="right-wrapper myclass">
      <div id="sidebar" class="right myclass">
        <!-- <h3>Sidebar</h3> -->
        <p>
          <h2>Sidebar</h2><br>
          <ul style="padding-left:30px">
            <li><a href="https://twitter.com/jwsmusic">Twitter</a></li>
            <li><a href="https://plus.google.com/+JustinSpainisawesome/posts">g+</a></li>   
            <li><a href="https://github.com/juzten">github</a></li>
          </ul>
        </p>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div><!-- end right-wrapper -->

  <!-- start footer -->
  <div id="footer">
    <!-- <h4>Footer</h4> -->
    <a href="{{ site.baseurl}}/">Go Home</a>
  </div>

</div> <!-- end pagewrap -->
</body>
</html>