---
layout: code
title: code
root: "../"
---

<!DOCTYPE html>
<html lang="en">
<head>
<title>jwspain.co</title>
<link rel="stylesheet" media="screen" href="{{ site.baseurl }}css/master.css"/>
<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="pagewrap">

  <div id="header">
    <header class="group">
      <div class="header-inner">
        <span class="logo"><a href="{{ site.baseurl }}index.html">jwspain.co</a></span>
        <span class="menu">
          <a href="{{ site.baseurl }}index.html">Home</a>&nbsp | &nbsp
          <a href="{{ site.baseurl }}post.html">Post</a>&nbsp | &nbsp
          <a href="https://github.com/juzten">Code  </a>&nbsp | &nbsp
          <a href="{{ site.baseurl }}about.html">About  </a>
        </span>
      </div>
    </header>
  </div>

  <div id="content">
    <section id="main" class="group">
	  {{ content }}
	  </section>
  </div>

  <div id="sidebar">
    <!-- <h3>Sidebar</h3> -->
    <p>
      <h2>Sidebar</h2><br>
      <<ul style="padding-left:30px">
        <li><a href="https://twitter.com/jwsmusic">Twitter</a></li>
        <li><a href="https://plus.google.com/+JustinSpainisawesome/posts">g+</a></li>
        <li><a href="https://github.com/juzten">github</a></li>
      </ul>
    </p>
  </div>

  <div id="footer">
    <!-- <h4>Footer</h4> -->
    <a href="{{ site.baseurl }}index.html">Go Home</a>
  </div>

</div>
</body>
</html>
