---
layout: post
title: post
root: "../"
---

<!DOCTYPE html>
<html lang="en">
<head>
<title>jwspain.co</title>
<link rel="stylesheet" media="screen" href="{{ site.baseurl }}/css/master.css"/>
<link href='http://fonts.googleapis.com/css?family=Lato:100,400,700' rel='stylesheet' type='text/css'>

</head>
<body>
<div id="pagewrap">
  <div id="header">
    <header class="group">
      <div class="header-inner">
        <span class="logo"><a href="{{ site.baseurl }}/index.html">jwspain.co</a></span>
        <span class="menu">
          <a href="{{ site.baseurl }}/index.html">Home</a>&nbsp | &nbsp
          <a href="{{ site.baseurl }}/post.html">Post</a>&nbsp | &nbsp
          <a href="https://github.com/juzten">&#60;Code&#47;&#62;  </a>&nbsp |&nbsp
          <a href="{{ site.baseurl }}/about.html">About  </a>
        </span>
      </div>
    </header>
  </div>

  <div class="container2 myclass">
    <div id="content" class="left myclass">
       <section id="main" class="group">
  	     {{ content }}
  	  </section>
    </div>

    <div class="right-wrapper myclass">
      <div id="sidebar" class="right myclass">
        <!-- <h3>Sidebar</h3> -->
        <p>
          <h2>Be Social</h2><br>
          <ul style="padding-left:30px">
            <li><a href="https://twitter.com/jwsmusic">Twitter</a></li>
            <li><a href="https://plus.google.com/+JustinSpainisawesome/posts">Google+</a></li>
            <li><a href="https://github.com/juzten">Github</a></li>
                      <li><a href="http://www.reddit.com/user/juzten">Reddit</a></li>
          </ul>

          <br>
           <h2>Projects</h2><br>
              <ul style="padding-left:30px">
                <li><a href="http://chadev.github.io/">chadev site</a></li>
                <li><a href="http://chadev.reddit.com">chadev reddit</a></li>
                <li><a href="http://www.youtube.com/user/TheFutureGeeks">Future Geeks</a></li>
<!--                 <li><a href="http://google.com">#</a></li>
                <li><a href="http://google.com">#</a></li> -->
              </ul>
        </p>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div><!-- end right-wrapper -->

  <div id="footer">
    <!-- <h4>Footer</h4> -->
    <a href="{{ site.baseurl }}/index.html">Go Home</a>
  </div>

</div>
</body>
</html>
